# Ignore virtual environment files
.venv/
env/
.env

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore IDE files
.vscode/
.idea/

# Ignore logs
logs/
*.log

# Ignore FastAPI specific files
.fastapi/