# Ignore virtual environment files
.venv/
env/
env

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore IDE files
.vscode/
.idea/

# Ignore logs
logs/
*.log

# temp directory
output/
temp_uploads/

# Ignore FastAPI specific files
.fastapi/

# Ignore environment variables file
.env